<h1>
    This is a home page
</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="/posts/create" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3" placeholder="Type your content here..."></textarea>
        <input type="submit" value="Post">
    </form>
</section>

<div id="posts-list-container">
<ul>
    <% for(post of posts){%>
        <li>
            <%=post.content %>
            <small>
                <%=post.user.name %>
            </small>
        </li>

        <% }%>
</ul>
</div>

