<h1>
    This is a home page
</h1>

<section id="feed-posts">
    <h4>Posts</h4>
    <form action="" id="new-post-form" method="POST">
        <textarea name="content" cols="30" rows="3"></textarea>
        <input type="submit" value="Post">
    </form>
</section>

