<link rel="stylesheet" href="/css/user_sign_in.css">


<h1>Sign - In</h1>

<form action="/users/create-session" method="POST">
<input type="email" name="email" placeholder="Email" required>
<input type="password" name="password" placeholder="Password" required>
<p><a href="/users/forgot-password">forgot password</a></p>
<input type="submit" value="SIgn-In">


</form>